html,
body {
  background: transparent;
}

.title { font-weight: 800; }
.subtitle { font-weight: 600; }

div.field.is-grouped.button-group { margin-top: 1rem; }

/*
 * Bulma Overrides 
 *************************** 
 */


/*
 * Quill Overrides 
 *************************** 
 */

div.ql-toolbar.ql-snow {
  background: #fafafa;
}

div.ql-tooltip {
  z-index: 20;
}